n8n-workflows/health-monitor.json
{
  "name": "Application Health Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-node",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://app:3000",
        "options": {
          "timeout": 5000
        }
      },
      "id": "http-request",
      "name": "Check App Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"statusCode\"]}}",
              "operation": "notEqual",
              "value2": 200
            }
          ]
        }
      },
      "id": "if-unhealthy",
      "name": "Is Unhealthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "message": "🚨 ALERTA: Aplicação não está respondendo!\nStatus: {{$json[\"statusCode\"]}}\nHorário: {{$now}}"
      },
      "id": "alert-notification",
      "name": "Send Alert",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 250]
    },
    {
      "parameters": {
        "message": "✅ Aplicação funcionando normalmente"
      },
      "id": "ok-notification",
      "name": "All OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 350]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Check App Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check App Health": {
      "main": [
        [
          {
            "node": "Is Unhealthy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Unhealthy?": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
